<h1>Welcome to 'THE' Library</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<table>
  <tr>
    <td><%=	link_to 'Admin', books_path()	%></td>
  </tr>
  <tr>
    <td><%=	link_to 'Patron', patron_books_path()	%></td>
  </tr>
</table>
